<p>login works!</p>

<div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="titulo"> 
            Bienvenido
        </div>
        <!-- Contenido del área de inicio de sesión -->
        <form id="loginform">
          <input type="text" name="usuario" placeholder="Usuario">
          <input type="password" placeholder="Contraseña" name="contraseña">
          <input type="submit" title="Ingresar" name="Ingresar">        

        </form>
        <div class="pic-form">
            <a href="#">¿Perdiste la contraseña?</a>
            <a href="#">¿No tienes cuenta? Registrate> </a>

        </div>
      </div>
      <!-- Otro contenido central si es necesario -->
      <div class="inferior">
            <a href="#">Volver</a>
      </div>
    </div>
  </div>